{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">

		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>Inscription
			<a href="{{ path("app_login") }}">
				<span class="fs-6 badge rounded-pill bg-secondary">Connexion</span>
			</a>
		</h1>

		{{ form_start(registrationForm) }}
		{% if type == "person" %}
			<p class="text-muted">Vous représentez une société ? Vous souhaitez déposer des offres d'emploi ?
				<a href="{{ path("app_register_business") }}">
					<span class="badge rounded-pill bg-secondary">Passez au pro</span>
				</a>
			</p>
		{% endif %}

		{{ form_rest(registrationForm) }}

		<button type="submit" class="btn btn-primary">S'inscrire</button>

		{{ form_end(registrationForm) }}

	</div>


	<div class="container">

		<section class="h-100 h-custom gradient-custom-2">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12">
						<div class="card card-registration card-registration-2" style="border-radius: 15px;">
							<div class="card-body p-0">
								<div class="row g-0">
									<div class="col-lg-6 col-sm-12">
										<div class="p-5">
											<h3 class="fw-bold mb-5">Informations générales</h3>

											<div class="row">
												<div class="col-md-6 mb-4 pb-2">

													<div class="form-outline">
														<input type="text" class="form-control"/>
														<label class="form-label" for="form3Examplev2">Prénom</label>
													</div>

												</div>
												<div class="col-md-6 mb-4 pb-2">

													<div class="form-outline">
														<input type="text" class="form-control form-control"/>
														<label class="form-label" for="form3Examplev3">Nom</label>
													</div>

												</div>
											</div>

											<div class="mb-4 pb-2">
												<div class="form-outline">
													<input type="text" id="form3Examplev4" class="form-control form-control"/>
													<label class="form-label" for="form3Examplev4">Adresse mail</label>
												</div>
											</div>

											<div class="row mb-4 pb-2">
													<div class="col-6 form-outline">
														<input type="text" id="form3Examplev5" class="form-control form-control"/>
														<label class="form-label" for="form3Examplev5">Date de naissance</label>
													</div>

                                                    <div class="col-6 form-outline">
														<input type="text" id="form3Examplev5" class="form-control form-control"/>
														<label class="form-label" for="form3Examplev5">N° de téléphone</label>
													</div>
											</div>

                                            <div class="mb-4 pb-2">
												<div class="form-outline">
													<input type="text" id="form3Examplev4" class="form-control form-control"/>
													<label class="form-label" for="form3Examplev4">Mot de passe</label>
												</div>
											</div>

										</div>
									</div>
									<div class="col-lg-6 col-sm-12 bg-indigo text-white">
										<div class="p-5">
											<h3 class="fw-bold mb-5">Coordonnées</h3>

											<div class="mb-4 pb-2">
												<div class="form-outline form-white">
													<input type="text" id="form3Examplea2" class="form-control form-control"/>
													<label class="form-label" for="form3Examplea2">Saisissez une adresse</label>
												</div>
											</div>

											<div class="row">
												<div class="col-md-5 mb-4 pb-2">

													<div class="form-outline form-white">
														<input type="text" id="form3Examplea4" class="form-control form-control" disabled>
														<label class="form-label" for="form3Examplea4">Code Postal</label>
													</div>

												</div>
												<div class="col-md-7 mb-4 pb-2">

													<div class="form-outline form-white">
														<input type="text" id="form3Examplea5" class="form-control form-control" disabled>
														<label class="form-label" for="form3Examplea5">Ville</label>
													</div>

												</div>
											</div>

											<div class="row">
												<div class="col-md-5 mb-4 pb-2">
													<div class="form-outline form-white">
														<input type="text" id="form3Examplea4" class="form-control form-control" disabled>
														<label class="form-label" for="form3Examplea4">Région</label>
													</div>
												</div>
												<div class="col-md-7 mb-4 pb-2">
													<div class="form-outline form-white">
														<input type="text" id="form3Examplea5" class="form-control form-control" disabled>
														<label class="form-label" for="form3Examplea5">Département</label>
													</div>
												</div>
											</div>

											<div class="form-check d-flex justify-content-start mb-4 pb-3">
												<input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c"/>
												<label class="form-check-label text-black" for="form2Example3">J'ai lu et j'accepte les <a href="#!"><u>Conditions Générales d'Utilisation</u></a> de MatchJob</label>
											</div>
										</div>
									</div>
                                    <center><button type="button" class="col-3 btn btn-success btn" data-mdb-ripple-color="dark">S'inscrire</button></center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

