{% extends 'base.html.twig' %}

{% block title %}Déposer une offre{% endblock %}

{% block body %}
  {{form_start(OfferControllerNew)}}
  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom de l'offre</span>
      {{ form_row(OfferControllerNew.label,{ 'attr': {"type":"text", "class":"form-control", "aria-label":"Sizing example input", "aria-describedby":"inputGroup-sizing-default"}, label:false })}}
  </div>

  <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom de l'offre</span>
      {{ form_row(OfferControllerNew.salary,{ 'attr': {"type":"text", "class":"form-control", "aria-label":"Sizing example input", "aria-describedby":"inputGroup-sizing-default"}, label:false })}}
  </div>

  <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Nom de l'offre</span>
      {{ form_row(OfferControllerNew.description,{ 'attr': {"type":"text", "class":"form-control", "aria-label":"Sizing example input", "aria-describedby":"inputGroup-sizing-lg"}, label:false })}}
  </div>

    {# {{ form_row(OfferControllerNew.startDate,{label:"Date de début"})}}
    {{ form_row(OfferControllerNew.endDate,{label:"Date de fin"})}} #}
    <button type="submit" class="btn btn-primary">Enregistrer</button> 
  {{form_end(OfferControllerNew)}}


{% endblock %}
