{% extends 'base.html.twig' %}

{# TODO féminin #}

{% block title %}
	{{ business.name }}
{% endblock %}

{% block body %}	
	<section style="background-color: #eee;">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img src="{{ asset('assets/images/pp/' ~ app.user.profilePicture) }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
							<h5 class="my-3">{{business.name}}</h5>
							{# <p class="text-muted mb-1">Full Stack Developer</p> #}
							{# <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> #}
							<div class="d-flex justify-content-center mb-2">
								<button type="button" class="btn btn-primary">Editer le profil public</button>
								{# <button type="button" class="btn btn-outline-primary ms-1"></button> #}
							</div>
						</div>
					</div>
					{# <div class="card mb-4 mb-lg-0">
					          <div class="card-body p-0">
					            <ul class="list-group list-group-flush rounded-3">
					              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
					                <i class="fas fa-globe fa-lg text-warning"></i>
					                <p class="mb-0">https://mdbootstrap.com</p>
					              </li>
					              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
					                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
					                <p class="mb-0">mdbootstrap</p>
					              </li>
					              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
					                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
					                <p class="mb-0">@mdbootstrap</p>
					              </li>
					              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
					                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
					                <p class="mb-0">mdbootstrap</p>
					              </li>
					              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
					                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
					                <p class="mb-0">mdbootstrap</p>
					              </li>
					            </ul>
					          </div>
					        </div> #}
				</div>

				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Adresse :
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{business.address}}
										|
										{{business.city}},
										{{business.zipCode}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Région :
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{business.region}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Département :
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{business.department}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Pays :
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{business.country}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Siret :
									</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{business.siret}}</p>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-12">
					<div class="row">
						{% for offer in offers %}
							<div class="col-md-4">
								<div class="card mb-4 mb-md-0">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-9">
												<p class="text-muted mb-0">{{offer.label}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-9">
												<p class="text-muted mb-0">Salaire de l'heure : {{offer.moneyPerHour}} €/h</p>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-9">
												<p class="text-muted mb-0">{{ offer.description|length > 100 ? offer.description|slice(0, 100) ~ '...' : offer.description  }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

