{% extends 'base.html.twig' %}

{# TODO féminin #}

{% block title %}
	{{ business.name }}
{% endblock %}

{% block body %}

	<div class="container p-0">
		<div class="border border-black rounded-5">
			{# Bannière #}
			<div class="container">
				<div class="d-flex justify-content-center">
					<img class="w-50 img-fluid" src="{{ asset('assets/images/pp/' ~ app.user.bannerPicture) }}" alt="">
				</div>
			</div>

			<div class="border border-black rounded-top rounded-5">
				<div
					class="row jsutify-content-center">
					{# Bio #}
					<div class="col-2">
						<img class="rounded img-fluid" src="{{ asset('assets/images/pp/' ~ app.user.profilePicture) }}" alt="">
					</div>
					<div class="col">
                        <div class="my-2">
                            <h2 class="mb-0">{{business.name}}</h2>
                        </div>
                        <div class="hstack gap-5 text-muted">
                            <div>
                                <i class="bi bi-award-fill"></i>
                                <span class="">
								{% if business.verified %}
									Vérifié
								{% else %}
									Pas Vérifié
								</span>
								{% endif %}
                            </div>
                            <div>
                                <i class="bi bi-bar-chart-fill"></i>
                                89%
                            </div>
                            <div>
                                <i class="bi bi-calendar-check-fill"></i>
                                {{business.createdAt |date("M/Y")}}
                            </div>
                        </div>

						<div class="mt-2">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis magnam nisi, repellat et voluptate nesciunt earum possimus dicta repudiandae dolorem dolore impedit deserunt non recusandae asperiores! Sequi suscipit animi tenetur.</p>
						</div>
					</div>
				</div>

				<div class="row container">
					{# A propos #}
					<div class="col-lg-4 col-sm-12">
						<div class="card card shadow p-2">
							<div class="card-body">
								<h3>A propos de nous :</h3>
								<p class="card-text">
									<li>Siret : {{business.siret}}</li>
									<li>Adresse : {{business.address}}</li>
									<li>Code postale : {{business.zipCode}}</li>
									<li>Ville : {{business.city}}</li>
									<li>Pays : {{business.country}}</li>
									<li>Numéro : {{business.phone}}</li>
								</p>
							</div>
						</div>
					</div>

					{# Offres #}
					<div class="d-flex col-lg-8 col-sm-12 flex-wrap m-0 p-0">
                            {% for offer in offers %}
                                <div class="card col-lg-3 col-sm-12 shadow">
                                    <div class="card-body">
                                        <h5 class="card-title">{{offer.label}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{offer.moneyPerHour}} € /h</h6>
                                        <p class="card-text">{{ offer.description|length > 100 ? offer.description|slice(0, 100) ~ '...' : offer.description  }}</p>
                                    </div>
                                </div>
                            {% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

