{% extends 'base.html.twig' %}

{% block title %}Modifier son CV{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ app.user.firstName }} {{ app.user.lastName }}</h1>

    <hr>

    <h2>Experiences professionnelles</h2>
    {% for experience in experiences %}

        {{ experience.label }} •

        {% if experience.business %}

            <a href={{ url("app_profile") }}>
                {{ experience.business.name }}
            </a>

        {% else %}

            {{ experience.location }}

        {% endif %}

        <ul>
            <li>De {{ experience.startedAt|date("F Y", false) }}</li>
            <li>
                à
                {% if experience.endedAt %}
                    {{ experience.endedAt|date("F Y", false) }}
                {% else %}
                    Aujourd'hui
                {% endif %}
            </li>
        </ul>

    {% else %}

        <p>Aucune expérience.</p>

    {% endfor %}

    <button type="button" class="button btn-primary" data-bs-toggle="modal" data-bs-target="#add_experience">Ajouter une expérience</button>

    <!-- Modal -->
    <div class="modal fade" id="add_experience" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_experienceLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="mb-0" action="{{ url ('app_resume_experience_add') }}" method="post">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add_experienceLabel">Ajouter une expérience</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_rest(add_experience) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Ajouter">
                    </div>

                </form>

            </div>
        </div>
    </div>

    <hr>

    <h2>Formations</h2>
    {% for course in courses %}

        {{ course.label }} • {{ course.location }}

        <ul>
            <li>De {{ course.startedAt|date("F Y", false) }}</li>
            <li>
                à
                {% if course.endedAt %}
                    {{ course.endedAt|date("F Y", false) }}
                {% else %}
                    Aujourd'hui
                {% endif %}
            </li>
        </ul>

    {% else %}

        <p>Aucune formation.</p>

    {% endfor %}

    <button type="button" class="button btn-primary" data-bs-toggle="modal" data-bs-target="#add_course">Ajouter une formation</button>

    <!-- Modal -->
    <div class="modal fade" id="add_course" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_courseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="mb-0" action="{{ url ('app_resume_course_add') }}" method="post">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add_courseLabel">Ajouter une formation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_rest(add_course) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Ajouter">
                    </div>

                </form>

            </div>
        </div>
    </div>

    <hr>

    <h2>Compétences</h2>

    {% if skills is not empty %}

        <ul>
            {% for skill in skills %}
                <li>
                    {{ skill.label }}
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <p>Aucune compétence.</p>

    {% endif %}

    <button type="button" class="button btn-primary" data-bs-toggle="modal" data-bs-target="#add_skill">Ajouter une compétence</button>

    <!-- Modal -->
    <div class="modal fade" id="add_skill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="add_skillLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="mb-0" action="{{ url ('app_resume_skill_add') }}" method="post">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add_skillLabel">Ajouter une formation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_rest(add_skill) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Ajouter">
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}
