{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.label) }}
        </div>
        <div class="col">
            {{ form_row(form.imageName) }}
        </div>
    </div>
    <button type="submit">Envoyer</button>
{{ form_end(form) }}
{% endblock %}