{% extends 'business/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{# Nombre d'offre #}
{# Nombre de réponse #}
{# Nombre de vue #}

{% block body %}

    <style>
        .customcard {
            background-color: #F9F9F9;
            border-bottom: 3px solid #EEE;
            margin: 10px;
            padding: 10px;
        }
    </style>

    <div class="container mt-5">
        <div class="row d-flex">

            <div class="col-12 col-lg-4 me-auto customcard">
                <div class="d-inline-flex">
                    <img class="rounded" style="height: 100px" src="{{ asset('assets/images/pp/.default.png') }}" alt="Logo de la société">
                    <div class="ps-4">
                        <p class="mb-0">Bienvenue <span class="highlight">{{ app.user.name }}</span></p>
                        <a class="link-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 customcard">
                {{ app.user.offers.count }} offre{{ app.user.offers.count > 1 ? 's' : '' }} publiée{{ app.user.offers.count > 1 ? 's' : '' }}
            </div>

            <div class="col-lg-2 customcard">
                0 demande reçue
            </div>

            <div class="col-lg-2 customcard">
                0 vues au total
            </div>

        </div>
    </div>

{% endblock %}
