{% extends 'base.html.twig' %}

{# TODO féminin #}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container p-0">
    <div class="row mx-auto bg-primary text-white p-5">
        <div class="col-md-2 col-4">
            {# Photo de profil #}
            <picture>
            
                <img src="{{ asset("assets/img/pp/" ~ app.user.profilePicture) }}" alt="Photo de profil" class="{% if "ROLE_BUSINESS" in app.user.roles %}rounded{% else %}rounded-circle{% endif %} mb-3 img-fluid shadow d-block mx-auto">
            </picture>

            <div class="mb-3 d-grid gap-2">
                <a class="btn btn-light text-black-50" href="{{ path("app_profile_edit") }}">
                    <i class="bi bi-pencil-square"></i>
                    Modifier le profil
                </a>
            </div>
        </div>

        <div class="col-md-10 col-8 ps-5 ">
            <h1 class="ps-5 mb-3 display-3 text-white">{{app.user.firstName}} {{app.user.lastName}}</h1>

            {# Bio #}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste quod dolorem eligendi fuga, hic perspiciatis tenetur ipsa asperiores, ullam, cupiditate possimus! Omnis animi natus quis nulla, beatae velit magnam sint!</p>
        
            {# Infos #}
            <ul class="un-dot p-0 text-black-50">
                <li>
                    <i class="bi bi-balloon"></i> est né(e) le {{ app.user.dateOfBirth|date("d F Y", false) }}
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i> vient de {{ app.user.city }}
                </li>
                <li>
                    <i class="bi bi-calendar-check"></i> à rejoint le {{ app.user.createdAt|date("F Y", false) }}
                </li>
            </ul>

            {# Toutes les données #}
        </div>
    </div>

    <div class="content px-5">
        <div class="row">
            <section class="col-6 mt-5">
                <h5>Mes demandes</h5>
                <div class="demands-list overflow-auto h-100">
                    <ul class="list-group">
                    {% for demand in demands %}
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            <label class="form-check-label" for="firstCheckbox">{{demand.offer.user.name}} | {{demand.offer.label}}</label>
                        </li>
                    {% endfor %} 
                    </ul>
                </div>
            </section>

            <section class="col-6 mt-5">
                <h5>Mes documents</h5>
                <div class="demands-list">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            <label class="form-check-label" for="firstCheckbox">CV</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                            <label class="form-check-label" for="secondCheckbox">Lettre de motivation</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                            <label class="form-check-label" for="thirdCheckbox">Attestation TOEIC</label>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
