{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}

    <script>
        const xmlHttp = new XMLHttpRequest();
    </script>

    <div class="container">
        <ul class="list-group list-group-flush">
            {% for _, notif in notifs %}

                <li class="list-group-item d-flex justify-content-between align-items-start">

                    <div class="ms-2 me-auto">
                        <div>
                            {% if notif.readAt is null %}
                                <i class="icon-exclamation-circle text-warning"></i>
                            {% endif %}

                            <span class="fw-bold">
                                {% if notif.label is not null %}
                                    {{ notif.label }}
                                {% else %}
                                    {% if notif.type == 1 %}
                                        Quelqu'un a postulé pour votre annonce !
                                    {% endif %}
                                {% endif %}
                            </span>
                            <span class="text-muted">{{ notif.sendedAt|date }}</span>
                        </div>
                        {% if notif.content is not null %}
                            {{ notif.content }}
                        {% else %}
                            {% if notif.type == 1 %}
                                <strong>{{ notif.demand.applicant.fullName }}</strong> a fait une demande pour <strong>{{ notif.demand.offer.label }}</strong>.
                            {% endif %}
                        {% endif %}
                    </div>
                </li>

                {% if notif.readAt is null %}
                    <script>
                        xmlHttp.open("GET", "{{ path('app_notifications_read', { 'id': notif.id }) }}", false);
                        xmlHttp.send(null);
                    </script>
                {% endif %}

            {% else %}

                <h1 class="text-muted">Vous n'avez pas de notifications..</h1>

            {% endfor %}
        </ul>
    </div>

{% endblock %}